extends ../layout

block content
    a(href='/bicycles') Volver

    br
    br
    br

    h1 Nueva bicicleta

    br
    br

    form(action='/bicycles/create', method='post')
        label(for='id') ID:
        input#id(type='text' name='id')
        br
        label(for='color') Color:
        input#id(type='text' name='color')
        br
        label(for='model') Modelo:
        input#id(type='text' name='model')
        br
        label(for='lat') Latitud:
        input#id(type='text' name='lat')
        br
        label(for='lng') Longitud:
        input#id(type='text' name='lng')
        br
        br
        input.btn(type='submit' value='OK')