extends ../layout

block content
    a(href='/bicycles/create') Nueva bicicleta

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Model
                th(scope='col') Location
                th(scope='col')
        tbody
            each bicycle in bicycles
                tr
                    td(scope='row')
                        = bicycle.id
                        td= bicycle.color
                        td= bicycle.model
                        td= bicycle.location
                        td
                            a(href='bicycles/' + bicycle.id + '/update') Editar
                        td
                            form.inline(method='post' action='bicycles/' + bicycle.id + '/delete')
                                input(type='hidden' name='id' value=bicycle.id)
                                button.link-button(type='submit' name='submit_param' value='submit_param' class='btn')
                                    = 'Eliminar'