extends ../layout

block content
    a(href='/bicycles') Volver

    br
    br
    br

    h1 Nueva bicicleta

    br
    br

    form(action=`/bicycles/${bicycle.id}/update`, method='post')
        label(for='id') ID:
        input#id(type='text' name='id' value=bicycle.id disabled)
        br
        label(for='color') Color:
        input#id(type='text' name='color' value=bicycle.color)
        br
        label(for='model') Modelo:
        input#id(type='text' name='model' value=bicycle.model)
        br
        label(for='lat') Latitud:
        input#id(type='text' name='lat' value=bicycle.location[0])
        br
        label(for='lng') Longitud:
        input#id(type='text' name='lng' value=bicycle.location[1])
        br
        br
        input.btn(type='submit' value='OK')